* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
   background-color: #4697da; 
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

p {
  font-size: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: deepskyblue; 
  width: 100vw;
  height: 10vh;
  /* height: 15vh;  */
}
button{
  background-color: #48aded;
  border-color: #4697da;
}
.location {
  /* width: 108%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   font-size: 200%; 
   background-color: violet;
}

.degree {
  font-size: 8rem;
}

.top-bar {
  font-size: 150%;
}

.darkmode {
  background-color: black;
}

.dark-mode-toggle {
  font-size: 100%;
  width: 200%;
}

.toggle-on {
  font-size: 180%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw ;
  height: 100vh;
  background-color: #467;
}

.weather-report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cloud {
  width: 90%;
}

.lex{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500%;
  height: 600%;
   background-color: blueviolet; 
}

/* .darkmode: cloud-container{
  background-color: black;
} */

.cloud-container {
  background-color: #48aded;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 35vh;
  border-radius: 0.5rem;
}
.climate{
font-size: 250%;
font-weight: 700;
}
.weather {
  width: 150px;
}

.timer{
width: 250px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.toggler--slider {
  width: 100px;
  height: 45px;
  background-color: grey; 
  border-radius: 6rem;/* margin-inline: 0px;  */
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}
.toggler {
  display: flex;
  align-items: center;
}
.toggler--slider--circle {
  height: 25px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}
nav.dark .toggler--slider--circle {
  background-color: black;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

nav.dark {
  background-color: #21222A;
}
.dark{
background-color: #000;
}
nav.dark .toggler--slider {
  justify-content: flex-end;
  
}


@media (max-width:768px) {
    nav{
    height: 40px;
  }  
   .toggle-on{
      font-size: 100%;
   }
  .timer{
    display:none;
  }
  .cloud{
      padding-top: 15%;
      width: 80%;
  }
  .cloud-container{
  
    width: 25%;
  }
  .inner-container{
      margin-top:5%;
  }

}
